# Web-Scrapping imdb page for other information

In [44]:
import time
import random
import warnings
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

We will be using the normal distribution as the benchmark for the best movie recommender. Why? Skewed distribitions (either to the left or right) would indicate a bias in the rating behavior. Given enough data, the average movie should be closer to the number 3 from the scale of 1-5. Therefore, it will be something we look after when plotting.

We will be using Requests and Beautifulsoup for webscrapping. Our target is to gather information from multiple websites to evaluate which website is the most reliable to use for movie ratings

In [45]:
#scrolling to the next 50 movies (each page)
link = 'http://www.imdb.com/search/title?release_date=2017&sort=num_votes,desc&page=0'
response = requests.get(link)
print(response.text[0:500])

<!DOCTYPE html>
<html
    xmlns:og="http://ogp.me/ns#"
    xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-itunes-app" content="app-id=342792525, app-argument=imdb:///?src=mdot">



        <script type="text/javascript">var IMDbTimer={starttime: new Date().getTime(),pt:'java'};</script>

<script>
    if (typeof uet == 'function') {
      uet("bb", "LoadTitle"

If we head to the website and do inspection of the page, we'll see that all the movies are in the (div) (/div) tag, specifically, elements of each section of a movie is nested within (div class = "lister-item mode-advance"). There should be about 50 containers of these on each page.

We need to use BeautifulSoup to help parse the html. Documentation can be found on:
https://www.crummy.com/software/BeautifulSoup/bs4/doc/#beautifulsoup

In [46]:
html_soup = BeautifulSoup(response.text,"html.parser")
#type(html_soup)
#The find_all() method looks through a tagâ€™s descendants and retrieves all descendants that match your filters.
#Ie: looking through the "div" containers with class attribute of descendants being "lister-item mode-advanced"
total_containers = html_soup.find_all("div",class_="lister-item mode-advanced")
print(len(total_containers)) # a list of 50 containers

50

# Structures of the html page

%script false

The title is actually on the third (div), inside (h3), and further in (a). We don't use the (a) as an attribute because that there is also an earlier (a) from second (div) tag. We use (h3) to access the title. So in the end, we'll use "movie.h3.a" to access the title.

BeautifulSoup will search the entire page, but if a "tag" is repeated, it will "only" pick the first tag. In that case, try something under that tag that is unique.

##Year is under:
<h3 class="lister-item-header">
        <span class="lister-item-index unbold text-primary">4.</span>
    
    <a href="/title/tt2527336/?ref_=adv_li_tt">Star Wars: Episode VIII - Les derniers Jedi</a>
    <span class="lister-item-year text-muted unbold">(2017)</span>
</h3>
Therefore we access it with: h3 under class_ = "lister-item-year text-muted unbold"

##IMDB is under:
<div class="ratings-bar">
<div class="inline-block ratings-imdb-rating" name="ir" data-value="7,2">
        <span class="global-sprite rating-star imdb-rating"></span>
        <strong>7,2</strong>
    </div>
Therefore we can access it with: find("div",class_"ratings-bar").strong

##Metascore is under:
<div class="inline-block ratings-metascore">
<span class="metascore  favorable">85        </span>
        Metascore
            </div>
Therefore we can access it with: find("span",class_="metascore").text

##Vote is under:
<span name="nv" data-value="416246">416&nbsp;246</span>
Therefore we can access with: find("span", attrs={"name":"nv"})["data-value"])
Because we can search for any attributes under a dictionary form. Accessing the attribute without the comma will help us from converting the number.

##Gross is under:
<span name="nv" data-value="620&nbsp;181&nbsp;382">$620.18M</span>
This is just the same as Vote, but instead we can use fill_all("span", attrs={"name":"nv"})["data-value"]), and it will return in a list. The first element will be votes, and the second element will be Gross.

In [47]:
first_movie = total_containers[0]
#first_movie
first_title = first_movie.h3.a.text
first_title

first_year = first_movie.h3.find("span",class_="lister-item-year text-muted unbold").text
first_year = first_year[1:-1] #remove parenthesis
first_year

first_imdb = first_movie.find("div", class_="ratings-bar").strong
first_imdb.text

first_metascore = first_movie.find("span", class_="metascore").text 
#doesn't have to be the whole text "metascore favorable", not all scores are filled with that tag (errors)
first_metascore

first_vote = first_movie.find_all("span", attrs={"name":"nv"})[0]["data-value"]
first_vote

first_gross = first_movie.find_all("span",attrs={"name":"nv"})[1]["data-value"]
first_gross

'226,277,068'

In [48]:
#first page run-through
def web_scrap(total_containers):
    imdb_data = {"name":[],"year":[],"imdb":[],"metascore":[],"vote":[],"gross":[]}
    #since missing metascore and gross gave us errors, we'll only query items in which all rows are available.
    #this will also save us a lot of data clearning time later
    for movie in total_containers:
        if (movie.find('div', class_='ratings-metascore') is None) or ((len(movie.find_all("span", attrs={"name":"nv"})) < 2)):
            continue

        title = movie.h3.a.text
        imdb_data["name"].append(title)

        year = movie.h3.find("span",class_="lister-item-year text-muted unbold").text
        imdb_data["year"].append(year)

        imdb = movie.find("div", class_="ratings-bar").strong.text
        imdb_data["imdb"].append(float(imdb))

        metascore = movie.find("span", class_="metascore").text
        imdb_data["metascore"].append(int(metascore))

        vote = movie.find_all("span", attrs={"name":"nv"})[0]["data-value"]
        vote_ = vote.replace(",","") #parsing string "1,000" to 1000
        imdb_data["vote"].append(int(vote_))

        gross = movie.find_all("span", attrs={"name":"nv"})[1]["data-value"]
        gross_ = gross.replace(",","") #parsing string "1,000" to 1000
        imdb_data["gross"].append(int(gross_))
    return imdb_data

imdb_data = web_scrap(total_containers)
#imdb_data

In [49]:
#helper function to modify the year column
def year_mod(row):
    year = row.split("(")[-1] #will result in "2017)"
    return year[:-1]

#create a dataframe from the dictionary output of server request
def df_transform(imdb_data):
    temp_df = pd.DataFrame({'movie': imdb_data["name"],
                           'year': imdb_data["year"],
                           'imdb': imdb_data["imdb"],
                           'metascore': imdb_data["metascore"],
                           'votes': imdb_data["vote"],
                           'gross':imdb_data["gross"]})
    print(temp_df.info())
    return temp_df


temp_df = df_transform(imdb_data)
temp_year = temp_df["year"].apply(year_mod)
temp_df["year"] = temp_year
temp_df.head(5)
#webscrapping officially worked!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 6 columns):
gross        46 non-null int64
imdb         46 non-null float64
metascore    46 non-null int64
movie        46 non-null object
votes        46 non-null int64
year         46 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 2.2+ KB
None

,gross,imdb,metascore,movie,votes,year
0,226277068,8.1,77,Logan,510160,2017
1,412563408,7.5,76,Wonder Woman,437645,2017
2,188373161,8.0,94,Dunkirk,419778,2017
3,620181382,7.2,85,Star Wars: Episode VIII - The Last Jedi,416442,2017
4,389813101,7.7,67,Guardians of the Galaxy Vol. 2,412289,2017

Now to iterate over many years and many pages, we have 2 controllers.

link = 'http://www.imdb.com/search/title?release_date=2017&sort=num_votes,desc&page=1'
where:
we need to change: 
1. release_data=2017
2. desc&page=1
3. Control the request rate, careful if we don't want to be classified as a ddos attack by the server!

# Putting it all together

In [50]:
def web_scrap_final(year_, pages_):
    years_req = [str(i) for i in range (year_,2019)] #scrapping all the way to the year 2018
    total_pages_req = [str(i) for i in range(0,pages_)] #6x50 = 300 per page if no missing data/errors

    start_time= time.time()
    total_requests = 0
    total_durations = 0
    imdb_total = {"name":[],"year":[],"imdb":[],"metascore":[],"vote":[],"gross":[]}
    for i in years_req:
        for j in total_pages_req:
            link = "http://www.imdb.com/search/title?release_date="+i+"&sort=num_votes,desc&page="+j
            response = requests.get(link)
            html_soup = BeautifulSoup(response.text,"html.parser")
            total_movies = html_soup.find_all('div', class_ = 'lister-item mode-advanced') #should be 50 items per page

            time.sleep(random.randint(1,4)) #crucial
            total_requests += 1
            total_duration = time.time() - start_time
            print("Request: ",total_requests, "Average sec per request: ", total_duration/total_requests)

            #good response = 200, we don't want to raise an exception, as some of the data will still be useful
            if response.status_code != 200:
                warn("Couldn't get a good response: error ",response.status_code)

            #consolidating dict, appending each pages into the end of the previous requests
            for key in imdb_total:
                imdb_total[key] += web_scrap(total_movies)[key]
    return imdb_total

imdb_total = web_scrap_final(2017,5)
df = df_transform(imdb_total)
temp_year = df["year"].apply(year_mod)
df["year"] = temp_year
df.to_csv("scrapped_test.csv")
df.head(10)

Request:  1 Average sec per request:  5.280167102813721
Request:  2 Average sec per request:  5.8462910652160645
Request:  3 Average sec per request:  5.805001576741536
Request:  4 Average sec per request:  5.1624157428741455
Request:  5 Average sec per request:  5.3457835674285885
Request:  6 Average sec per request:  5.327512661616008
Request:  7 Average sec per request:  5.298716306686401
Request:  8 Average sec per request:  5.084375590085983
Request:  9 Average sec per request:  5.217231088214451
Request:  10 Average sec per request:  4.978333592414856
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 6 columns):
gross        287 non-null int64
imdb         287 non-null float64
metascore    287 non-null int64
movie        287 non-null object
votes        287 non-null int64
year         287 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 13.5+ KB
None

,gross,imdb,metascore,movie,votes,year
0,226277068,8.1,77,Logan,510160,2017
1,412563408,7.5,76,Wonder Woman,437645,2017
2,188373161,8.0,94,Dunkirk,419778,2017
3,620181382,7.2,85,Star Wars: Episode VIII - The Last Jedi,416442,2017
4,389813101,7.7,67,Guardians of the Galaxy Vol. 2,412289,2017
5,315058289,7.9,74,Thor: Ragnarok,388630,2017
6,334201140,7.5,73,Spider-Man: Homecoming,359216,2017
7,176040665,7.7,84,Get Out,333607,2017
8,92054159,8.1,81,Blade Runner 2049,332597,2017
9,107825862,7.6,86,Baby Driver,325563,2017

looks like we on average took out about 28 movies per page. Therefore, if we want about 2000 movies, it should be 10x of the current round. Obviously two solutions: increase the page, increase the year. We'll do a little of both

In [51]:
imdb_total = web_scrap_final(2005,15) #from 2010 until now, 15 pages per year.
df = df_transform(imdb_total)
temp_year = df["year"].apply(year_mod)
df["year"] = temp_year
df.to_csv("imdb_scrapped.csv")
df.head(10)

Request:  1 Average sec per request:  3.6441612243652344
Request:  2 Average sec per request:  4.548081636428833
Request:  3 Average sec per request:  4.543179035186768
Request:  4 Average sec per request:  4.275713741779327
Request:  5 Average sec per request:  4.290242624282837
Request:  6 Average sec per request:  4.480772018432617
Request:  7 Average sec per request:  4.755229711532593
Request:  8 Average sec per request:  4.558970749378204
Request:  9 Average sec per request:  4.428486479653253
Request:  10 Average sec per request:  4.411067199707031
Request:  11 Average sec per request:  4.549884275956587
Request:  12 Average sec per request:  4.715814590454102
Request:  13 Average sec per request:  4.632629559590266
Request:  14 Average sec per request:  4.615429435457502
Request:  15 Average sec per request:  4.551973803838094
Request:  16 Average sec per request:  4.662456005811691
Request:  17 Average sec per request:  4.691047654432409
Request:  18 Average sec per request:  4.7749009529749555
Request:  19 Average sec per request:  4.747812534633436
Request:  20 Average sec per request:  4.823375558853149
Request:  21 Average sec per request:  4.8733366671062655
Request:  22 Average sec per request:  4.809528643434698
Request:  23 Average sec per request:  4.850961394931959
Request:  24 Average sec per request:  4.796375999848048
Request:  25 Average sec per request:  4.818337364196777
Request:  26 Average sec per request:  4.801286844106821
Request:  27 Average sec per request:  4.77628692874202
Request:  28 Average sec per request:  4.786462502820151
Request:  29 Average sec per request:  4.728678514217508
Request:  30 Average sec per request:  4.681725605328878
Request:  31 Average sec per request:  4.6918109309288765
Request:  32 Average sec per request:  4.74462465941906
Request:  33 Average sec per request:  4.738601092136268
Request:  34 Average sec per request:  4.792658889994902
Request:  35 Average sec per request:  4.813294403893607
Request:  36 Average sec per request:  4.835621363586849
Request:  37 Average sec per request:  4.8781171618281185
Request:  38 Average sec per request:  4.908208263547797
Request:  39 Average sec per request:  4.886299750743768
Request:  40 Average sec per request:  4.891552382707596
Request:  41 Average sec per request:  4.845056144202628
Request:  42 Average sec per request:  4.882827526047116
Request:  43 Average sec per request:  4.895694655041362
Request:  44 Average sec per request:  4.909643043171275
Request:  45 Average sec per request:  4.921587424808078
Request:  46 Average sec per request:  4.928461608679398
Request:  47 Average sec per request:  4.91298183481744
Request:  48 Average sec per request:  4.912442604700725
Request:  49 Average sec per request:  4.876939530275306
Request:  50 Average sec per request:  4.904141325950622
Request:  51 Average sec per request:  4.8851730402778175
Request:  52 Average sec per request:  4.917941405222966
Request:  53 Average sec per request:  4.890601117655916
Request:  54 Average sec per request:  4.882994188202752
Request:  55 Average sec per request:  4.8702543648806484
Request:  56 Average sec per request:  4.858573142971311
Request:  57 Average sec per request:  4.880110736478839
Request:  58 Average sec per request:  4.8825899157030825
Request:  59 Average sec per request:  4.847849595344673
Request:  60 Average sec per request:  4.848326667149862
Request:  61 Average sec per request:  4.814772003986796
Request:  62 Average sec per request:  4.807938871845122
Request:  63 Average sec per request:  4.836079287150549
Request:  64 Average sec per request:  4.830326706171036
Request:  65 Average sec per request:  4.834674985592182
Request:  66 Average sec per request:  4.840118820017034
Request:  67 Average sec per request:  4.825079046078582
Request:  68 Average sec per request:  4.81426782467786
Request:  69 Average sec per request:  4.834083391272503
Request:  70 Average sec per request:  4.8200482027871265
Request:  71 Average sec per request:  4.790103606774774
Request:  72 Average sec per request:  4.8104129996564655
Request:  73 Average sec per request:  4.831789245344188
Request:  74 Average sec per request:  4.837079447668952
Request:  75 Average sec per request:  4.842186361948649
Request:  76 Average sec per request:  4.8435248418858174
Request:  77 Average sec per request:  4.8481525724584404
Request:  78 Average sec per request:  4.8630922849361715
Request:  79 Average sec per request:  4.8630492536327505
Request:  80 Average sec per request:  4.874643188714981
Request:  81 Average sec per request:  4.856846261907507
Request:  82 Average sec per request:  4.834946562604206
Request:  83 Average sec per request:  4.839533374970218
Request:  84 Average sec per request:  4.853431287265959
Request:  85 Average sec per request:  4.8417416151832136
Request:  86 Average sec per request:  4.832660616830338
Request:  87 Average sec per request:  4.820682517413435
Request:  88 Average sec per request:  4.796467046846043
Request:  89 Average sec per request:  4.810944787571939
Request:  90 Average sec per request:  4.790003633499145
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2412 entries, 0 to 2411
Data columns (total 6 columns):
gross        2412 non-null int64
imdb         2412 non-null float64
metascore    2412 non-null int64
movie        2412 non-null object
votes        2412 non-null int64
year         2412 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 113.1+ KB
None

       gross  imdb  metascore                     movie    votes  year
0  292576195   8.8         74                 Inception  1749371  2010
1  128012934   8.1         63            Shutter Island   955670  2010
2  415004880   8.3         92               Toy Story 3   650084  2010
3  106954678   8.0         79                Black Swan   624895  2010
4  312433331   7.0         57                Iron Man 2   615302  2010
5  217581231   8.1         74  How to Train Your Dragon   579674  2010
6  138797449   8.0         88         The King's Speech   572616  2010
7   96962694   7.7         95        The Social Network   550069  2010
8   48071303   7.6         66                  Kick-Ass   483910  2010
9  251513985   7.7         72             Despicable Me   445259  2010

Voila! Now we're transporting these data back to the orginal analysis