In [1]:
import pandas as pd
import numpy as np

In [2]:
loans_2007 = pd.read_csv('loans_2007.csv')
loans_2007.drop_duplicates(inplace=True)
loans_2007.head()

/Library/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [3]:
loans_2007.shape

(42538, 52)

Columns that contains future information or leakage of information, as well as intangible meaning (ID) that should be removed.

id: id purpose.
member_id: id purpose.
funded_amnt: future leakage (decided to be funded).
funded_amnt_inv: by investor, same as above. Future leakage (decided to be funded).
grade: overlapping with interest rate, we don't want double significance.
sub_grade: also overlapping data with interest rate.
emp_title: salary will take care of this. Painful for categorical.
issue_d: leak from the future, the month of which it was issued.

zip_code: not practical. We have state data.
out_prncp: outstanding principle, already started to accept the loan request.
out_prncp_inv: by investor, same as above, already accepted the loan request.
total_pymnt: data leakage, the loan has been paid.
total_pymnt_inv: by investor, same as above - leakage.
total_rec_prncp: principle received to date - leakage.

total_rec_int: interest received 'till now - leakage.
total_rec_late_fee: late fee receive 'till now - leakage
recoveries: charge off gross recoveries - leakage
collection_recovery_fee: charge off collection fee - leakage
last_pymnt_d: last month of payment - leakage
last_pymnt_amnt: last payment amount - leakage

In [4]:
col_rmv = ["id","member_id","funded_amnt","funded_amnt_inv","grade","sub_grade","emp_title","issue_d","zip_code","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt"]
loans_2007.drop(columns=col_rmv,axis=1,inplace=True)
print(loans_2007.shape)
loans_2007.columns

(42538, 32)

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'pymnt_plan', 'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'last_credit_pull_d', 'collections_12_mths_ex_med', 'policy_code',
       'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths',
       'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [5]:
loans_2007["loan_status"].value_counts()

Fully Paid                                             33136
Charged Off                                             5634
Does not meet the credit policy. Status:Fully Paid      1988
Current                                                  961
Does not meet the credit policy. Status:Charged Off      761
Late (31-120 days)                                        24
In Grace Period                                           20
Late (16-30 days)                                          8
Default                                                    3
Name: loan_status, dtype: int64

Based on the given unique values, we would need to convert these things to a binary value of loan/no loan given. From the unique values there are 3 "major" areas:
1. loans that are fully paid (1)
2. loans that are charged off (0) - no longer expecting payment
3. Others.

We'll exclude the others because of 2 issues: 
1. It's not reasonable to expect a machine learning algorithm to predict anything with substantially small data.
2. If the borrowers don't qualify for today (which we're trying to mimmic), we can't loan them out anyways.

In [6]:
loans_2007 = loans_2007[(loans_2007["loan_status"] == "Fully Paid") | (loans_2007["loan_status"] == "Charged Off")].copy()
print(loans_2007.loan_status.value_counts())

def target_conv(row):
    if row == "Fully Paid":
        return 1
    return 0

loans_2007["loan_status"] = loans_2007["loan_status"].apply(target_conv)
print(loans_2007.loan_status.value_counts()) #bien sur!

Fully Paid     33136
Charged Off     5634
Name: loan_status, dtype: int64
1    33136
0     5634
Name: loan_status, dtype: int64

In [7]:
drop_cols = list()
cols = loans_2007.columns

for i in cols:
    #single value won't contribute to the learning
    temp = loans_2007[i].dropna().unique()
    if len(temp) <= 1: 
        print(temp,i)
        drop_cols.append(i)
#drop_cols

['n'] pymnt_plan
['f'] initial_list_status
[0.] collections_12_mths_ex_med
[1.] policy_code
['INDIVIDUAL'] application_type
[0.] acc_now_delinq
[0.] chargeoff_within_12_mths
[0.] delinq_amnt
[0.] tax_liens

['pymnt_plan',
 'initial_list_status',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'tax_liens']

In [8]:
loans_2007.drop(drop_cols,axis=1,inplace=True)
loans_2007.columns

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'last_credit_pull_d',
       'pub_rec_bankruptcies'],
      dtype='object')